# База данных PostgreSQL
DATABASE_URL=postgresql+asyncpg://database_user_name:database_user_password@localhost:5432/database_name

# Токен Telegram бота
BOT_TOKEN=your_bot_token

# Пароль для доступа к календарю
CALENDAR_PASSWORD=your_calendar_password
