# База данных PostgreSQL

# Локально
DB_NAME=hairsalon
DB_USER=postgres
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/hairsalon

# Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hairsalon
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/hairsalon

# Токен Telegram бота
BOT_TOKEN=your_bot_token

# Пароль для доступа к календарю
CALENDAR_PASSWORD=your_calendar_password

# id админа в Telegram
ADMIN_TELEGRAM_ID=your_telegram_id
